body{
    background-color: white;
}
.nav-top {
    background-color: rgb(135,206,250)  !important;
}

.nav-menu {
    color: white !important;
}

.img-car {
    max-height: 800px !important;
    text-align: center;
    
}

.divisao {
    background-color: rgb(135,206,250) !important;
    text-align: center;
    color: white;
    padding: 2em;
}

.sec-pacotes {
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin: 0.5% !important;
    justify-content: center !important;
}

.sec-pacotes p {
    text-align: justify !important;
}

.card {
    margin-left: 1em !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    padding: 1em !important;

}

footer {
    text-align: center !important;
    background-color: rgb(135,206,250)!important;
    color: white !important;
}

.sec-contato {
    margin-left: 10% !important;
    margin-top: 5% !important;
    margin-bottom: 1em !important;
    margin-right: 10% !important;
    background-color: rgb(240,248,255);
    color:rgb(135,206,250);
}

#redes{
    background-color: white;
    color: rgb(135,206,250);
}

#logo{
    max-height: 40px;
    border-radius: 100%;
}
.nav-menu{
    color: white !important;
    background-color:#106efd;
    margin: 8px;
    border-radius: 15%;
}
.carrossel{
    background-color:#0274d83d;
}